{% extends "illuviumsite/layout.html" %}

{% block content %}
<h3>PerpetualEntropy</h3>
<img src="/media/augments/PerpetualEntropy1.png" hight="100px" width="100px"/>
<img src="/media/augments/PerpetualEntropy2.png" hight="100px" width="100px"/>
<img src="/media/augments/PerpetualEntropy3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：３エナジーのリジェネを得る。<br>
ステージ２：ステージ１＋サイレンスにならない。<br>
ステージ３：ステージ２＋最初のオメガ発動時、オメガのエナジーコストの３０％を得る。<br>
<h3>使い方：</h3>
アタッカーやヒーラー問わず、オメガが強く、長く生き残るキャラに付けたい。<br>
<h3>相性の良いイルビアル：</h3>
・アドリウス系（体力の低い味方を回復）<br>
・デュアルフ系（高火力レーザー）<br>
・クッカラス系（敵１匹を行動不能にし、味方全体にシールド）<br>
・ブレイズナイト系（オメガの竜巻が通った味方の攻撃速度を上昇、敵をスタン）<br>
・アースアチッポ系（周りの敵を武装解除し、行動不能にする）<br>
<br>
<h3>SharpStart</h3><br>
<img src="/media/augments/SharpStart1.png" hight="100px" width="100px"/>
<img src="/media/augments/SharpStart2.png" hight="100px" width="100px"/>
<img src="/media/augments/SharpStart3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：物理防御とエナジー防御の４０％を貫通する。<br>
ステージ２：ステージ１＋３回の攻撃に一度Clumsyを３秒間付与する。<br>
ステージ３：ステージ２＋物理防御とエナジー防御を５％減らす。<br>
Clumsy・・・攻撃が回避できない状態異常<br>
<h3>使い方：</h3>
アタッカーかつ、攻撃速度が早いイルビアルに付けたい。<br>
<h3>相性の良いイルビアル：</h3>
・スコリオックス系<br>
<br>
PowersAscent<br>
<img src="/media/augments/PowersAscent1.png" hight="100px" width="100px"/>
<img src="/media/augments/PowersAscent2.png" hight="100px" width="100px"/>
<img src="/media/augments/PowersAscent3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：１秒間に２ずつオメガパワーを得る。<br>
ステージ２：ステージ１＋オメガ発動時、エナジーコストの２０％のオメガパワーを得る。<br>
ステージ３：ステージ２＋（自身の状態異常を回復する）<br>
※ステージ３の（）内は曖昧。英文はon Omega Cleanses itself<br>
<h3>使い方：</h3>
オメガダメージが高いイルビアルに付けたい。<br>
オメガ発動時のオメガパワー上昇効果を得るため、PerpetualEntropyやSaccarineEscapeなどと一緒につけてオメガ回転率を高めたい。<br>
<h3>相性の良いイルビアル：</h3>
・ランファイア系<br>
・デュアルフ系<br>
・シーフォラス系<br>
<br>
<h3>SharpStart</h3><br>
<img src="/media/augments/SharpStart1.png" hight="100px" width="100px"/>
<img src="/media/augments/SharpStart2.png" hight="100px" width="100px"/>
<img src="/media/augments/SharpStart3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：物理防御とエナジー防御の４０％を貫通する。<br>
ステージ２：ステージ１＋３回の攻撃に一度Clumsyを３秒間付与する。<br>
ステージ３：ステージ２＋物理防御とエナジー防御を５％減らす。<br>
Clumsy・・・攻撃が回避できない状態異常<br>
使い方：
アタッカーかつ、攻撃速度が早いイルビアルに付けたい。<br>
<h3>相性の良いイルビアル：</h3>
・スコリオックス系<br>
<br>
<h3>JaggedEnd</h3>
<img src="/media/augments/JaggedEnd1.png" hight="100px" width="100px"/>
<img src="/media/augments/JaggedEnd2.png" hight="100px" width="100px"/>
<img src="/media/augments/JaggedEnd3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：クリティカル発生時、自身と１番近い味方２匹はクリティカルダメージが５％増加する。（２５回まで増加可能、１秒間のクールタイム有り）<br>
ステージ２：ステージ１＋クリティカル発生時、相手の回復量を１５秒間５０％減少させる。<br>
ステージ３：ステージ２＋クリティカル発生時、相手の物理防御とエナジー防御を５減少させる。<br>
<h3>使い方：</h3>
アタッカーかつ、攻撃速度が早いイルビアルに付けたい。<br>
FinalAboundingを付けたイルビアルに持たせる。または近くにいると、オメガのクリティカルの倍率も上がるため、よりオメガが強力になる。<br>
敵にthornを持つ敵がいた場合、JaggedEndでクリティカルの倍率を高めてから攻撃すると攻撃回数が減り、結果受けるダメージを軽減できる。<br>
<h3>相性の良いイルビアル：</h3>
・スコリオックス系<br>
・（ランファイア系）<br>
・（デュアルフ系）<br>
<br>
<h3>FinalAbounding</h3><br>
<img src="/media/augments/FinalAbounding1.png" hight="100px" width="100px"/>
<img src="/media/augments/FinalAbounding2.png" hight="100px" width="100px"/>
<img src="/media/augments/FinalAbounding3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：自分のオメガがクリティカルが発生するようになり、クリティカルチャンスが１０％上昇する。<br>
ステージ２：ステージ１＋クリティカル発生時、敵をBurn状態にする。<br>
ステージ３：ステージ２＋クリティカル発生時、クリティカルのダメージ減少効果を無視する。<br>
※ Burn状態・・・１秒間に２％のエナジーダメージを受ける。この状態は８秒間続き、５回までスタックされる。
※ クリティカルのダメージ減少効果が何を指しているのか不明。単純に防御を無視するのかもしれない。未検証。
<h3>使い方：</h3>
オメガの攻撃力が高いイルビアルに付けたい。<br>
特にランファイアのオメガをクリティカルにすることによって、大ダメージが見込めるので優先的に持たせたい。<br>
ランファイアはphantomのシナジーを発動することによってもオメガをクリティカルにできるため、どちらかでクリティカルが発生するようにしたい。<br>
<h3>相性の良いイルビアル：</h3>
・ランファイア系<br>
・デュアルフ系<br>
・シーフォラス系<br>
<br>
<h3>VengefulSmite</h3><br>
<img src="/media/augments/VengefulSmite1.png" hight="100px" width="100px"/>
<img src="/media/augments/VengefulSmite2.png" hight="100px" width="100px"/>
<img src="/media/augments/VengefulSmite3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：５回の攻撃に１度敵をPoisn状態にし、４％のピュアダメージを与える。（２秒間のクールタイム有り）<br>
ステージ２：ステージ１＋５回の攻撃に１度敵をWound状態にする。<br>
ステージ３：ステージ２＋５回の攻撃に１度敵をFrost状態にする。<br>
※ Poisn状態・・・１％のピュアダメージを毎秒受ける。この状態は５秒間続き、５回までスタックされる。<br>
※ Wound状態・・・受けた攻撃またはオメガの１．２５％の物理ダメージを毎秒受ける。この状態は８秒間続き、５回までスタックされる。<br>
※ Frost状態・・・攻撃速度が３％減少する。この状態は１０秒間続き、９回までスタックされる。<br>
<h3>使い方：</h3>
攻撃速度が高いイルビアルに付けたい。<br>
<h3>相性の良いイルビアル：</h3>
・スコリオックス系<br>
・ブレイズナイト系<br>
<br>
<h3>InevitableRuin</h3><br>
<img src="/media/augments/InevitableRuin2.png" hight="100px" width="100px"/>
<img src="/media/augments/InevitableRuin2.png" hight="100px" width="100px"/>
<img src="/media/augments/InevitableRuin3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：３５hex以内の敵は物理防御（減算）と物理防御（乗算）が５０％になる。<br>
ステージ２：ステージ１＋３５hex以内の敵の回復量が５０％になる。<br>
ステージ３：ステージ２＋３５hex以内の敵が受けるダメージが２５％上昇する。<br>
<h3>使い方：</h3>
攻撃オーグメントだが、遠距離アタッカーだとそもそも３５hex以内に敵がいないので、タイタナーやシング等のタンクが装備することが多い。<br>
近距離アタッカーに持たす手もあるが、タンクに持たせるほうが安定すると思われる。<br>
<h3>相性の良いイルビアル：</h3>
・タイタナー系<br>
・シアー系<br>
<br>
<h3>AdaptiveReflection</h3><br>
<img src="/media/augments/AdaptiveReflection1.png" hight="100px" width="100px"/>
<img src="/media/augments/AdaptiveReflection2.png" hight="100px" width="100px"/>
<img src="/media/augments/AdaptiveReflection3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：オメガで攻撃された場合、戦闘終了まで２０エナジー防御を得る。５回までスタックされる。<br>
ステージ２：ステージ１＋最大healthを２００得る。<br>
ステージ３：ステージ２＋毎秒最大体力の２％ずつ回復する。<br>
<h3>使い方：</h3>
ステージ１の効果に関しては有効に活用するのが難しいが、デュアルフ系のレーザーを受けるイルビアルに持たせると大分ダメージを軽減できる。<br>
ステージ３の効果を活かすため、長時間生き残る、または徐々に強くなるタイプのイルビアルに持たせたい。<br>
<h3>相性の良いイルビアル：</h3>
・シアー系<br>
<br>
<h3>SaccarineEscape</h3><br>
<img src="/media/augments/SaccarineEscape1.png" hight="100px" width="100px"/>
<img src="/media/augments/SaccarineEscape2.png" hight="100px" width="100px"/>
<img src="/media/augments/SaccarineEscape3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：最初に最大体力の６０％以下になった場合、２秒間ターゲットされないようになり、戦闘終了時まで攻撃速度が４０％上昇する。
ステージ２：ステージ１＋ステータス異常を回復する。<br>
ステージ３：ステージ２＋２０エナジーリジェネを５秒間得る。<br>
<h3>使い方：</h3>
・攻撃速度の上昇と、ターゲットされない効果と、２０エナジーリジェネを５秒間（合計１００）とどれも役に立つ効果となっている。<br>
しかし体力が６０％以下にならないといけないため、効果発動にはリスクを伴う。<br>
・攻撃速度の上昇はスコリオックス系などのアタッカーと相性が良いが、リスクが伴うためVampiricPrice等と一緒に付けてリスクを軽減したい。<br>
・ターゲットされない効果を有効に使うには、SaccarineEscapeを付けたイルビアルをあえて自陣から離れた場所に配置して、できるだけ敵イルビアルを歩かせて時間稼ぎすることもできる。<br>
・自陣を固めて敵からの攻撃スペースを少なくし、防御を固める方法（通称：穴熊）の時にSaccarineEscapeを付けると、ターゲットされない効果で、さらに敵の攻撃スペースを少なくすることもできる。<br>
・自陣から離れた前線にSaccarineEscapeを付けたイルビアルを置いて、その後ろから防御力の高いローグ系イルビアルを配置。体力を６０％以下にして、防御系ローグに敵を集めることをできる。<br>
・ターゲットされない効果とエナジーリジェネの効果はランファイアと相性が良い。かなりの確率でオメガが発動できる。<br>
<h3>相性の良いイルビアル：</h3>
・スコリオックス系（VampiricPrice装備時）<br>
・ランファイア系（安全のオメガを発動したい場合）<br>
・シーフォラス系（ターゲットされない効果を利用してデコイとして使う場合。もともとgraniteの効果を利用してデコイとして使うが、これを使うと倒されることもなくなる。）<br>
・アーケリオン系（穴熊時、ターゲットされない効果を利用して敵の攻撃スペースを無くす場合。アーケリオン自体が大きいのでスペースを無くせる。また他の味方にターゲットがいくが、エナジーリジェネのおかげでアーケリオンのオメガがすぐに発動し、回復できる。）<br>
<br>
<h3>TimesRespite</h3><br>
<img src="/media/augments/TimesRespite1.png" hight="100px" width="100px"/>
<img src="/media/augments/TimesRespite2.png" hight="100px" width="100px"/>
<img src="/media/augments/TimesRespite3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：オメガ発動時、最大エナジーの２００％のシールドを５秒間得る。<br>
ステージ２：ステージ１＋オメガ発動時、３秒間immnune状態となる。<br>
ステージ３：ステージ２＋オメガ発動時、５秒間immnune状態となる。戦闘開始時３秒間は不死身となる。<br>
※ Immune状態がどういった状態か不明だが、hp0になっても倒れないか、状態異常にならないかのどちらかだと考えられる。<br>
<h3>使い方：</h3>
・あまり役に立つオーグメントではないが、オメガ発動時、すぐにやられてしまわないようにするのに役立つ。<br>
<h3>相性の良いイルビアル：</h3>
・シアー系<br>
・ランファイア系（他につけるべきオーグメントがない場合）<br>
<br>
<h3>RetributionsCall</h3><br>
<img src="/media/augments/RetributionsCall1.png" hight="100px" width="100px"/>
<img src="/media/augments/RetributionsCall2.png" hight="100px" width="100px"/>
<img src="/media/augments/RetributionsCall3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：５０Thornsを得る。（Thorns状態のイルビアルに攻撃するとダメージを受ける）<br>
ステージ２：ステージ１＋戦闘開始１秒後に５００のシールドを得る。２５hex以内の敵を挑発する。（ターゲットを取る）<br>
ステージ３：ステージ２＋敵を倒した場合、３００体力が回復する。<br>
<h3>使い方：</h3>
・Thorns効果はタイタナーに付けた場合に、graniteのシナジーで無敵の間にできるだけ攻撃してもらうと敵にダメージをそこそこ与えられる。<br>
・シールド効果はタンクにつけたい。挑発はあまり役に立つシーンがないが、防御系ローグで引き付けたい場合につけるのも良いかもしれない。<br>
・回復効果はタンクだけど攻撃力もあるようなイルビアルにつけると生存能力が上がる。<br>
<h3>相性の良いイルビアル：</h3>
・シアー系（回復）<br>
・タイタナー系（Thorns）<br>
・バーミリアル系（挑発）<br>
・ルールラ系（挑発）<br>
<br>
<h3>VampiricPrice</h3><br>
<img src="/media/augments/VampiricPrice1.png" hight="100px" width="100px"/>
<img src="/media/augments/VampiricPrice2.png" hight="100px" width="100px"/>
<img src="/media/augments/VampiricPrice3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：１５％の物理、エナジーの吸血効果を得る。３回の攻撃に一度最大体力の２％の回力回復効果を得る。（２秒間のクールタイム有り）<br>
ステージ２：ステージ１＋３回の攻撃に一度最大体力を１００増加させる。（２秒間のクールタイム有り）<br>
ステージ３：ステージ２＋最初に最大体力の５０％を下回った場合、さらに１５％の物理、エナジーの吸血効果を得る。<br>
<h3>使い方：</h3>
・タンクに持たせて生存期間を伸ばすか、スコリオックスに持たせて最後の打ち合いで優位に立つかどちらかが良いと考えられる。
スコリオックスに持たせる場合、１匹ターゲットを取ることでタンクの負荷を軽減できる。
<h3>相性の良いイルビアル：</h3>
・シアー系<br>
・タイタナー系<br>
・スコリオックス系<br>
<br>
<h3>TitansRedoubt</h3><br>
<img src="/media/augments/TitansRedoubt1.png" hight="100px" width="100px"/>
<img src="/media/augments/TitansRedoubt2.png" hight="100px" width="100px"/>
<img src="/media/augments/TitansRedoubt3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：攻撃された場合、戦闘終了まで２の物理防御を得る。（最大５０スタックまで）<br>
ステージ２：ステージ１＋３００の最大体力を得る。<br>
ステージ３：ステージ２＋１秒間に２％の体力回復効果を得る。<br>
<h3>使い方：</h3>
・物理攻撃されやすいタンクに持たせると良い。ローグ受けに、オメガの特性上シアーを使うことが多いが、ローグはほぼ物理攻撃なのでシアーに持たすと有効に使える。
<h3>相性の良いイルビアル：</h3>
・シアー系<br>
<br>
<h3>TitansRedoubt</h3><br>
<img src="/media/augments/TitansRedoubt1.png" hight="100px" width="100px"/>
<img src="/media/augments/TitansRedoubt2.png" hight="100px" width="100px"/>
<img src="/media/augments/TitansRedoubt3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：攻撃された場合、戦闘終了まで２の物理防御を得る。（最大５０スタックまで）<br>
ステージ２：ステージ１＋３００の最大体力を得る。<br>
ステージ３：ステージ２＋１秒間に２％の体力回復効果を得る。<br>
<h3>使い方：</h3>
・物理攻撃されやすいタンクに持たせると良い。ローグ受けに、オメガの特性上シアーを使うことが多いが、ローグはほぼ物理攻撃なのでシアーに持たすと有効に使える。
<h3>相性の良いイルビアル：</h3>
・シアー系<br>
<br>
<h3>SappingHex</h3><br>
<img src="/media/augments/SappingHex1.png" hight="100px" width="100px"/>
<img src="/media/augments/SappingHex2.png" hight="100px" width="100px"/>
<img src="/media/augments/SappingHex3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：２５hex以内の敵の攻撃速度を２０％減少させる。<br>
ステージ２：ステージ１＋２５hex以内の敵のオメガパワーを１秒間に３減少させる。<br>
ステージ３：ステージ２＋装備者を倒した敵は５秒間Silence状態となる。<br>
※　Silence状態・・・オメガが発動しない。<br>
<h3>使い方：</h3>
・２０％の攻撃速度低下を活かして、ローグ受けに持たせてランイファイアのオメガまでの発動時間を遅らせる。<br>
またはローグに持たせて、敵アタッカーの攻撃速度を遅らせてるなどの使い方が有効。
<h3>相性の良いイルビアル：</h3>
・シアー系<br>
・ローグ系<br>
<br>
<h3>SuccorsGift</h3><br>
<img src="/media/augments/SuccorsGift1.png" hight="100px" width="100px"/>
<img src="/media/augments/SuccorsGift2.png" hight="100px" width="100px"/>
<img src="/media/augments/SuccorsGift3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：３秒毎に最も近い味方３匹は５％体力が回復する。<br>
ステージ２：ステージ１＋最も近い２匹の味方は６秒間Indomitable状態になる。<br>
ステージ３：ステージ２＋最も近い４匹の味方は６秒間Indomitable状態になる。<br>
※　Indomitable状態・・・体力が0以下にならない（しなない）。<br>
<h3>使い方：</h3>
・体力が０以下にならないので敵を多く引き付けて６秒間持たせることができる。体力は減るのでメインのタンク以外に持たせて６秒間耐えることでタンクの負荷を軽減したい。
<h3>相性の良いイルビアル：</h3>
・体力が低く、移動できるイルビアル<br>
・大きいイルビアル（敵を多く引き付けられるから）<br>
<br>
<h3><br>
<h3>ArcticDominion</h3><br>
<img src="/media/augments/ArcticDominion1.png" hight="100px" width="100px"/>
<img src="/media/augments/ArcticDominion2.png" hight="100px" width="100px"/>
<img src="/media/augments/ArcticDominion3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：３秒毎に最も近い味方３匹は５％体力が回復する。<br>
ステージ２：ステージ１＋最も近い２匹の味方は６秒間Indomitable状態になる。<br>
ステージ３：ステージ２＋最も近い４匹の味方は６秒間Indomitable状態になる。<br>
※　Indomitable状態・・・体力が0以下にならない（しなない）。<br>
<h3>使い方：</h3>
・体力が０以下にならないので敵を多く引き付けて６秒間持たせることができる。体力は減るのでメインのタンク以外に持たせて６秒間耐えることでタンクの負荷を軽減したい。
<h3>相性の良いイルビアル：</h3>
・体力が低く、移動できるイルビアル<br>
・大きいイルビアル（敵を多く引き付けられるから）<br></h3><br>
<br>
<br>
<h3>LightsChosen</h3><br>
<img src="/media/augments/LightsChosen1.png" hight="100px" width="100px"/>
<img src="/media/augments/LightsChosen2.png" hight="100px" width="100px"/>
<img src="/media/augments/LightsChosen3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：最も近い味方２体の攻撃速度が２０％上がる。<br>
ステージ２：ステージ１＋最も近い味方２体のオメガがクリティカルが確率で発生するようになる。<br>
ステージ３：ステージ２＋最も近い味方２体が２５オメガパワーを得る。<br>
<h3>使い方：</h3>
・近くにいるイルビアルの攻撃速度を上昇させたり、オメガが確率でクリティカルが発生するようにしたりと非常に役に立つオーグメント。<br>
・スコリオックスやデュアルフ、シーフォラスの横に置いたり、近くにランファイアを置くことでランファイアのオメガが、確率でクリティカルが発生するようにしたりもできる。<br>
<h3>相性の良いイルビアル：</h3>
・スコリオックス系<br>
・デュアルフ系<br>
・ランファイア系<br>
<br>
<h3>CommunalRegrowth</h3><br>
<img src="/media/augments/CommunalRegrowth1.png" hight="100px" width="100px"/>
<img src="/media/augments/CommunalRegrowth2.png" hight="100px" width="100px"/>
<img src="/media/augments/CommunalRegrowth3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：体力が初めて５０％以下になった場合、自身と最も体力が低い味方の体力を２０％回復する。<br>
ステージ２：ステージ１＋戦闘終了まで体力回復効果が３５％アップ上昇する。<br>
ステージ３：ステージ２＋１５のヒールリジェネを得る。<br>
<h3>使い方：</h3>
・回復効果を有効に使いたいため、序盤に体力が低くなるイルビアルに付けて、他のタンクの体力を回復したい。<br>
<h3>相性の良いイルビアル：</h3>
・タイタナー系<br>
・シアー系<br>
・アドリウス系<br>
・アーケリオン系<br>
<br>
<h3>MirroredErosion</h3><br>
<img src="/media/augments/MirroredErosion1.png" hight="100px" width="100px"/>
<img src="/media/augments/MirroredErosion2.png" hight="100px" width="100px"/>
<img src="/media/augments/MirroredErosion3.png" hight="100px" width="100px"/>
<br>
<h3>説明：</h3>
ステージ１：３５hex以内の敵のエナジー防御（減算）とエナジー防御（乗算）を５０％減少させる。<br>
ステージ２：ステージ１＋３５hex以内の敵のエナジー増加量の５０％減少させる。<br>
ステージ３：ステージ２＋３５hex以内の敵の被ダメージを２５％増加させる。<br>
<h3>使い方：</h3>
・タンクに付けてアタッカーのダメージが通りやすくしたい。<br>
<h3>相性の良いイルビアル：</h3>
・タイタナー系<br>
・シアー系<br>
{% endblock %}