
{% extends "illuviumsite/layout.html" %}

{% block content %}
<title>イルビウムのオーバーワールドにおけるシャードの捕獲率</title>
<h2>シャード別捕獲率</h2>
<h3>確率表（仮）</h3>
<div>
    <span>縦列...イルビアル　横列...シャード</span><br>
    <span>※施行回数が少ないものに関しては他のTier/Stageを参考にした予想が表示されます。</span>
    
    <table class="table table-striped-columns">
        <tr>
            <td></td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Tier0</td>
            <td>{{ ratet0s0 }}%</td>
            <td>-%</td>
            <td>-%</td>
            <td>-%</td>
            <td>-%</td>
            <td>-%</td>
        </tr>
        <tr>
            <td>Tier1</td>
            <td>-%</td>
            <td>{{ ratet1s1 }}%</td>
            <td></td>
            <td>-%</td>
            <td>-%</td>
            <td>-%</td>
        </tr>
        <tr>
            <td>Tier2</td>
            <td>-%</td>
            <td>-%</td>
            <td>{{ ratet2s2 }}%</td>
            <td></td>
            <td>-%</td>
            <td>-%</td>
        </tr>
        <tr>
            <td>Tier3</td>
            <td>-%</td>
            <td>-%</td>
            <td>-%</td>
            <td>{{ ratet3s3 }}%</td>
            <td></td>
            <td>-%</td>
        </tr>
        <tr>
            <td>Tier4</td>
            <td>-%</td>
            <td>-%</td>
            <td>-%</td>
            <td>-%</td>
            <td>{{ ratet4s4 }}%</td>
            <td></td>
        </tr>
        <tr>
            <td>Tier5</td>
            <td>-%</td>
            <td>-%</td>
            <td>-%</td>
            <td>-%</td>
            <td>-%</td>
            <td>{{ ratet5s5 }}%</td>
        </tr>
    </table>
    <form action="" method="post">
        {% csrf_token %}
        <span>イルビアルTier</span>
        <select name="IlluvialTier">
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br>
        <span>イルビアルStage</span>
        <select name="IlluvialStage">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select><br>
        <span>シャードTier</span>
        <select name="ShardTier">
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br>
        <span>捕獲成否</span>
        <select name="Captured">
            <option value=False selected>失敗</option>
            <option value=True>成功</option>
        </select><br>
        <input type="submit" value="送信">
    </form>
</div>
{% endblock %}