{% extends "illuviumsite/layout.html" %}

{% block content %}
<title>データ</title>
<h3>各シャードでの捕獲率
</h3>
<pre>
シャード別捕獲率
T0 t0:60%
T1
T2
</pre>
<pre>
シャード生成に必要な資源
Cured Uncommon Shard
 Uncommon Shard 1
 Hyperion 200
Cured Rare Shard
 Rare Shard 1
 Hyperion 450
Cured Epic Shard
 Epic Shard 1
 Hyperion 1000
Cured Master Shard
 Shard Dust 80
 Hyperion 6000
</pre>
<pre>
シャード破壊時に得られる資源
Cured Common Shard
Shard Dust 1
Cured Common Shard
Shard Dust 3
Cured Rare Shard
Shard Dust 7
</pre>
<br>

{% endblock %}