{% extends "illuviumsite/layout.html" %}

{% block content %}
<h2>オーバーワールドの資源</h2>
<h3>RecurrentOreDeposit</h3>
<img src="/media/overworld/RecurrentOreDeposit.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<h5>T0：</h5>
<img src="/media/overworld/ShardFragment.png" hight="30px" width="30px"/>ShardFragment<br>
<img src="/media/overworld/Osvium.png" hight="30px" width="30px"/>Osvium<br>
<img src="/media/overworld/WaterGemFragment.png" hight="30px" width="30px"/>WaterGemFragment<br>
<img src="/media/overworld/Rhovidium.png" hight="30px" width="30px"/>Rhovidium<br>
<br>
<h3>ShardDeposit</h3>
<img src="/media/overworld/ShardDeposit.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div style="width: 200px;">
        <h5>T0：</h5>
        <img src="/media/overworld/Osvium.png" hight="30px" width="30px"/>Osvium<br>
        <img src="/media/overworld/EarthGemFragment.png" hight="30px" width="30px"/>EarthGemFragment<br>
        <img src="/media/overworld/NatureGrmFragment.png" hight="30px" width="30px"/>NatureGrmFragment<br>
        <img src="/media/overworld/Rhovidium.png" hight="30px" width="30px"/>Rhovidium<br>
        <img src="/media/overworld/AirGemFragment.png" hight="30px" width="30px"/>AirGemFragment<br>
        <img src="/media/overworld/ShardFragment.png" hight="30px" width="30px"/>ShardFragment<br>
    </div>
</div>

<h3>GemDeposit</h3>
<img src="/media/overworld/GemDeposit.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div style="width: 200px;">
        <h5>T3：</h5>
        <img src="/media/overworld/Celestvium.png" hight="30px" width="30px"/>Celestvium<br>
        <img src="/media/overworld/Vanavium.png" hight="30px" width="30px"/>Vanavium<br>
        <img src="/media/overworld/RespledentFireGem.png" hight="30px" width="30px"/>RespledentFireGem<br>
        <img src="/media/overworld/RareEarthGem.png" hight="30px" width="30px"/>RareEarthGem<br>
        <img src="/media/overworld/UncommonFireGem.png" hight="30px" width="30px"/>UncommonFireGem<br>
        <img src="/media/overworld/UncommonEarthGem.png" hight="30px" width="30px"/>UncommonEarthGem<br>
    </div>
</div>

<br>
<h3>AtypicalOreDeposit</h3>
<img src="/media/overworld/AtypicalOreDeposit.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div style="width: 200px;">
        <h5>T1：</h5>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
        <img src="/media/overworld/Lithvium.png" hight="30px" width="30px"/>Lithvium<br>
        <img src="/media/overworld/Pallavium.png" hight="30px" width="30px"/>Pallavium<br>
        <img src="/media/overworld/Chrovium.png" hight="30px" width="30px"/>Chrovium<br>
        <img src="/media/overworld/Tellvium.png" hight="30px" width="30px"/>Tellvium<br>
        <img src="/media/overworld/Vanavium.png" hight="30px" width="30px"/>Vanavium<br>
    </div>
    <div>
        <h5>T3：</h5>
        <img src="/media/overworld/EpicNatureGem.png" hight="30px" width="30px"/>EpicNatureGem<br>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
        <img src="/media/overworld/Irivium.png" hight="30px" width="30px"/>Irivium<br>
        <img src="/media/overworld/Lithvium.png" hight="30px" width="30px"/>Lithvium<br>
        <img src="/media/overworld/Tellvium.png" hight="30px" width="30px"/>Tellvium<br>
        <img src="/media/overworld/Vanavium.png" hight="30px" width="30px"/>Vanavium<br>
        <img src="/media/overworld/RareShard.png" hight="30px" width="30px"/>RareShard<br>
        <img src="/media/overworld/Rubivium.png" hight="30px" width="30px"/>Rubivium<br>
        <img src="/media/overworld/Celestvium.png" hight="30px" width="30px"/>Celestvium<br>
        <img src="/media/overworld/Pallavium.png" hight="30px" width="30px"/>Pallavium<br>
        <img src="/media/overworld/RareWaterGem.png" hight="30px" width="30px"/>RareWaterGem<br>
        <img src="/media/overworld/ResplendentNatureGem.png" hight="30px" width="30px"/>ResplendentNatureGem<br>
    </div>
</div>
<h5>T1：</h5>



<br>
<h3>植物（名称不明）</h3>
<img src="/media/overworld/Plants0001.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<h5>T0：</h5>
<img src="/media/overworld/BasketFruit.png" hight="30px" width="30px"/>BasketFruit<br>
<br>
<h3>植物（名称不明）</h3>
<img src="/media/overworld/Plants0002.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div style="width: 200px;">
        <h5>T0：</h5>
        <img src="/media/overworld/RingNut.png" hight="30px" width="30px"/>RingNut<br>
    </div>
    <div>
        <h5>T1：</h5>
        <img src="/media/overworld/CommonRingNut.png" hight="30px" width="30px"/>CommonRingNut<br>
        <img src="/media/overworld/GrowthEssence.png" hight="30px" width="30px"/>GrowthEssence<br>
    </div>
</div>
<br>
<h3>植物（名称不明）</h3>
<img src="/media/overworld/Plants0003.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<h5>T0：</h5>
<img src="/media/overworld/PopSpores.png" hight="30px" width="30px"/>PopSpores<br>

{% endblock %}