{% extends "illuviumsite/layout.html" %}

{% block content %}
<title>イルビウムのオーバーワールドで取れる資源</title>
<h2>オーバーワールドの資源</h2>
<h3>AnomalousOreDeposit</h3>
<img src="/media/overworld/AnomalousOreDeposit.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div style="width: 200px;">
        <h5>T1：</h5>
        <img src="/media/overworld/Lithvium.png" hight="30px" width="30px"/>Lithvium<br>
        <img src="/media/overworld/Chrovium.png" hight="30px" width="30px"/>Chrovium<br>
        <img src="/media/overworld/CommonShard.png" hight="30px" width="30px"/>CommonShard<br>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
        <img src="/media/overworld/Irivium.png" hight="30px" width="30px"/>Irivium<br>
        <img src="/media/overworld/Pallavium.png" hight="30px" width="30px"/>Pallavium<br>
        <img src="/media/overworld/Vanavium.png" hight="30px" width="30px"/>Vanavium<br>
        <img src="/media/overworld/Tellvium.png" hight="30px" width="30px"/>Tellvium<br>

    </div>
    <div style="width: 200px;">
        <h5>T2：</h5>
        <img src="/media/overworld/CommonFireGem.png" hight="30px" width="30px"/>CommonFireGem<br>
        <img src="/media/overworld/UncommonFireGem.png" hight="30px" width="30px"/>UncommonFireGem<br>
        <img src="/media/overworld/Lithvium.png" hight="30px" width="30px"/>Lithvium<br>
        <img src="/media/overworld/Chrovium.png" hight="30px" width="30px"/>Chrovium<br>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
        <img src="/media/overworld/Irivium.png" hight="30px" width="30px"/>Irivium<br>
        <img src="/media/overworld/Pallavium.png" hight="30px" width="30px"/>Pallavium<br>
        <img src="/media/overworld/Vanavium.png" hight="30px" width="30px"/>Vanavium<br>
        <img src="/media/overworld/EpicAirGem.png" hight="30px" width="30px"/>EpicAirGem<br>
        <img src="/media/overworld/Tellvium.png" hight="30px" width="30px"/>Tellvium<br>
        <img src="/media/overworld/Selenvium.png" hight="30px" width="30px"/>Selenvium<br>
        <img src="/media/overworld/CommonShard.png" hight="30px" width="30px"/>CommonShard<br>
    </div>
    <div style="width: 200px;">
        <h5>T3：</h5>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
        <img src="/media/overworld/Celestvium.png" hight="30px" width="30px"/>Celestvium<br>
        <img src="/media/overworld/Selenvium.png" hight="30px" width="30px"/>Selenvium<br>
        <img src="/media/overworld/Vanavium.png" hight="30px" width="30px"/>Vanavium<br>
        <img src="/media/overworld/Irivium.png" hight="30px" width="30px"/>Irivium<br>
        <img src="/media/overworld/ResplendentEarthGem.png" hight="30px" width="30px"/>ResplendentEarthGem<br>
        <img src="/media/overworld/UncommonWaterGem.png" hight="30px" width="30px"/>UncommonWaterGem<br>
        <img src="/media/overworld/RareShard.png" hight="30px" width="30px"/>RareShard<br>
        <img src="/media/overworld/EpicShard.png" hight="30px" width="30px"/>EpicShard<br>

    </div>


</div>
<h3>RecurrentOreDeposit</h3>
<img src="/media/overworld/RecurrentOreDeposit.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div style="width: 200px;">
        <h5>T0：</h5>
        <img src="/media/overworld/ShardFragment.png" hight="30px" width="30px"/>ShardFragment<br>
        <img src="/media/overworld/Osvium.png" hight="30px" width="30px"/>Osvium<br>
        <img src="/media/overworld/WaterGemFragment.png" hight="30px" width="30px"/>WaterGemFragment<br>
        <img src="/media/overworld/NatureGemFragment.png" hight="30px" width="30px"/>NatureGemFragment<br>
        <img src="/media/overworld/FireGemFragment.png" hight="30px" width="30px"/>FireGemFragment<br>
        <img src="/media/overworld/AirGemFragment.png" hight="30px" width="30px"/>AirGemFragment<br>
        <img src="/media/overworld/Rhodivium.png" hight="30px" width="30px"/>Rhodivium<br>
    </div>
    <div style="width: 200px;">
        <h5>T1：</h5>
        <img src="/media/overworld/CommonAirGem.png" hight="30px" width="30px"/>CommonAirGem<br>
        <img src="/media/overworld/Lithvium.png" hight="30px" width="30px"/>Lithvium<br>
        <img src="/media/overworld/Chrovium.png" hight="30px" width="30px"/>Chrovium<br>
        <img src="/media/overworld/Pallavium.png" hight="30px" width="30px"/>Pallavium<br>
        <img src="/media/overworld/Vanavium.png" hight="30px" width="30px"/>Vanavium<br>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
    </div>
    <div style="width: 200px;">
        <h5>T2：</h5>
        <img src="/media/overworld/Irivium.png" hight="30px" width="30px"/>Irivium<br>
        <img src="/media/overworld/Chrovium.png" hight="30px" width="30px"/>Chrovium<br>
        <img src="/media/overworld/Rubivium.png" hight="30px" width="30px"/>Rubivium<br>
        <img src="/media/overworld/Pallavium.png" hight="30px" width="30px"/>Pallavium<br>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
        <img src="/media/overworld/CommonFireGem.png" hight="30px" width="30px"/>CommonFireGem<br>
        <img src="/media/overworld/Lithvium.png" hight="30px" width="30px"/>Lithvium<br>
        <img src="/media/overworld/Vanavium.png" hight="30px" width="30px"/>Vanavium<br>
    </div>
</div>

<br>
<h3>ShardDeposit</h3>
<img src="/media/overworld/ShardDeposit.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div style="width: 200px;">
        <h5>T0：</h5>
        <img src="/media/overworld/Osvium.png" hight="30px" width="30px"/>Osvium<br>
        <img src="/media/overworld/EarthGemFragment.png" hight="30px" width="30px"/>EarthGemFragment<br>
        <img src="/media/overworld/NatureGemFragment.png" hight="30px" width="30px"/>NatureGemFragment<br>
        <img src="/media/overworld/FireGemFragment.png" hight="30px" width="30px"/>FireGemFragment<br>
        <img src="/media/overworld/AirGemFragment.png" hight="30px" width="30px"/>AirGemFragment<br>
        <img src="/media/overworld/WaterGemFragment.png" hight="30px" width="30px"/>WaterGemFragment<br>
        <img src="/media/overworld/Rhodivium.png" hight="30px" width="30px"/>Rhodivium<br>
        <img src="/media/overworld/ShardFragment.png" hight="30px" width="30px"/>ShardFragment<br>
    </div>
    <div style="width: 200px;">
        <h5>T1：</h5>
        <img src="/media/overworld/CommonShard.png" hight="30px" width="30px"/>CommonShard<br>
        <img src="/media/overworld/UncommonShard.png" hight="30px" width="30px"/>UncommonShard<br>
        <img src="/media/overworld/Lithvium.png" hight="30px" width="30px"/>Lithvium<br>
        <img src="/media/overworld/Pallavium.png" hight="30px" width="30px"/>Pallavium<br>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
        <img src="/media/overworld/Tellvium.png" hight="30px" width="30px"/>Tellvium<br>
        <img src="/media/overworld/Vanavium.png" hight="30px" width="30px"/>Vanavium<br>
        <img src="/media/overworld/Chrovium.png" hight="30px" width="30px"/>Chrovium<br>
    </div>
    <div style="width: 200px;">
        <h5>T2：</h5>

        <img src="/media/overworld/Pallavium.png" hight="30px" width="30px"/>Pallavium<br>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
        <img src="/media/overworld/Vanavium.png" hight="30px" width="30px"/>Vanavium<br>
        <img src="/media/overworld/Rubivium.png" hight="30px" width="30px"/>Rubivium<br>
    </div>
    <div style="width: 200px;">
        <h5>T3：</h5>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
        <img src="/media/overworld/Pallavium.png" hight="30px" width="30px"/>Pallavium<br>
        <img src="/media/overworld/Rubivium.png" hight="30px" width="30px"/>Rubivium<br>
        <img src="/media/overworld/RareShard.png" hight="30px" width="30px"/>RareShard<br>
        <img src="/media/overworld/EpicShard.png" hight="30px" width="30px"/>EpicShard<br>
        <img src="/media/overworld/ResplendentShard.png" hight="30px" width="30px"/>ResplendentShard<br>
        <img src="/media/overworld/Irivium.png" hight="30px" width="30px"/>Irivium<br>
        <img src="/media/overworld/Selenvium.png" hight="30px" width="30px"/>Selenvium<br>
        <img src="/media/overworld/Vanavium.png" hight="30px" width="30px"/>Vanavium<br>
        <img src="/media/overworld/Celestvium.png" hight="30px" width="30px"/>Celestvium<br>
        <img src="/media/overworld/Tellvium.png" hight="30px" width="30px"/>Tellvium<br>


    </div>
</div>

<h3>GemDeposit</h3>
<img src="/media/overworld/GemDeposit.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div style="width: 200px;">
        <h5>T1：</h5>
        <img src="/media/overworld/CommonWaterGem.png" hight="30px" width="30px"/>CommonWaterGem<br>
        <img src="/media/overworld/CommonNatureGem.png" hight="30px" width="30px"/>CommonNatureGem<br>
        <img src="/media/overworld/CommonAirGem.png" hight="30px" width="30px"/>CommonAirGem<br>
        <img src="/media/overworld/UncommonNatureGem.png" hight="30px" width="30px"/>UncommonNatureGem<br>
        <img src="/media/overworld/UncommonAirGem.png" hight="30px" width="30px"/>UncommonAirGem<br>
        <img src="/media/overworld/UncommonWaterGem.png" hight="30px" width="30px"/>UncommonWaterGem<br>
        <img src="/media/overworld/UncommonFireGem.png" hight="30px" width="30px"/>UncommonFireGem<br>
        <img src="/media/overworld/UncommonEarthGem.png" hight="30px" width="30px"/>UncommonEarthGem<br>
        <img src="/media/overworld/RareNatureGem.png" hight="30px" width="30px"/>RareNatureGem<br>
        <img src="/media/overworld/RareFireGem.png" hight="30px" width="30px"/>RareFireGem<br>
        <img src="/media/overworld/Pallavium.png" hight="30px" width="30px"/>Pallavium<br>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
        <img src="/media/overworld/Lithvium.png" hight="30px" width="30px"/>Lithvium<br>
        <img src="/media/overworld/Chrovium.png" hight="30px" width="30px"/>Chrovium<br>
        <img src="/media/overworld/Tellvium.png" hight="30px" width="30px"/>Tellvium<br>
    </div>
    <div style="width: 200px;">
        <h5>T2：</h5>
        <img src="/media/overworld/RareNatureGem.png" hight="30px" width="30px"/>RareNatureGem<br>
        <img src="/media/overworld/RareWaterGem.png" hight="30px" width="30px"/>RareWaterGem<br>
        <img src="/media/overworld/Lithvium.png" hight="30px" width="30px"/>Lithvium<br>
        <img src="/media/overworld/RareFireGem.png" hight="30px" width="30px"/>RareFireGem<br>
        <img src="/media/overworld/Rubivium.png" hight="30px" width="30px"/>Rubivium<br>
        <img src="/media/overworld/Pallavium.png" hight="30px" width="30px"/>Pallavium<br>
        <img src="/media/overworld/Tellvium.png" hight="30px" width="30px"/>Tellvium<br>
        <img src="/media/overworld/Chrovium.png" hight="30px" width="30px"/>Chrovium<br>
    </div>
</div>

<br>
<h3>AtypicalOreDeposit</h3>
<img src="/media/overworld/AtypicalOreDeposit.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div style="width: 200px;">
        <h5>T0：</h5>
        <img src="/media/overworld/Osvium.png" hight="30px" width="30px"/>Osvium<br>
        <img src="/media/overworld/Rhodivium.png" hight="30px" width="30px"/>Rhodivium<br>
        <img src="/media/overworld/FireGemFragment.png" hight="30px" width="30px"/>FireGemFragment<br>
        <img src="/media/overworld/EarthGemFragment.png" hight="30px" width="30px"/>EarthGemFragment<br>
        <img src="/media/overworld/NatureGemFragment.png" hight="30px" width="30px"/>NatureGemFragment<br>
    </div>
    <div style="width: 200px;">
        <h5>T1：</h5>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
        <img src="/media/overworld/Irivium.png" hight="30px" width="30px"/>Irivium<br>
        <img src="/media/overworld/Lithvium.png" hight="30px" width="30px"/>Lithvium<br>
        <img src="/media/overworld/Pallavium.png" hight="30px" width="30px"/>Pallavium<br>
        <img src="/media/overworld/Chrovium.png" hight="30px" width="30px"/>Chrovium<br>
        <img src="/media/overworld/CommonNatureGem.png" hight="30px" width="30px"/>CommonNatureGem<br>
        <img src="/media/overworld/Rubivium.png" hight="30px" width="30px"/>Rubivium<br>
        <img src="/media/overworld/Tellvium.png" hight="30px" width="30px"/>Tellvium<br>
        <img src="/media/overworld/Vanavium.png" hight="30px" width="30px"/>Vanavium<br>
        <img src="/media/overworld/Selenvium.png" hight="30px" width="30px"/>Selenvium<br>
        <img src="/media/overworld/Selestvium.png" hight="30px" width="30px"/>Selestvium<br>
    </div>
    <div style="width: 200px;">
        <h5>T2：</h5>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
        <img src="/media/overworld/Irivium.png" hight="30px" width="30px"/>Irivium<br>
        <img src="/media/overworld/Pallavium.png" hight="30px" width="30px"/>Pallavium<br>
        <img src="/media/overworld/Celestvium.png" hight="30px" width="30px"/>Celestvium<br>
        <img src="/media/overworld/RareShard.png" hight="30px" width="30px"/>RareShard<br>
        <img src="/media/overworld/Selenvium.png" hight="30px" width="30px"/>Selenvium<br>
        <img src="/media/overworld/Chrovium.png" hight="30px" width="30px"/>Chrovium<br>
        <img src="/media/overworld/Tellvium.png" hight="30px" width="30px"/>Tellvium<br>
        <img src="/media/overworld/Vanavium.png" hight="30px" width="30px"/>Vanavium<br>
        <img src="/media/overworld/Rubivium.png" hight="30px" width="30px"/>Rubivium<br>
        <img src="/media/overworld/RareWaterGem.png" hight="30px" width="30px"/>RareWaterGem<br>
    </div>
    <div>
        <h5>T3：</h5>
        <img src="/media/overworld/EpicNatureGem.png" hight="30px" width="30px"/>EpicNatureGem<br>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
        <img src="/media/overworld/Irivium.png" hight="30px" width="30px"/>Irivium<br>
        <img src="/media/overworld/Lithvium.png" hight="30px" width="30px"/>Lithvium<br>
        <img src="/media/overworld/Tellvium.png" hight="30px" width="30px"/>Tellvium<br>
        <img src="/media/overworld/Vanavium.png" hight="30px" width="30px"/>Vanavium<br>
        <img src="/media/overworld/RareShard.png" hight="30px" width="30px"/>RareShard<br>
        <img src="/media/overworld/Rubivium.png" hight="30px" width="30px"/>Rubivium<br>
        <img src="/media/overworld/Celestvium.png" hight="30px" width="30px"/>Celestvium<br>
        <img src="/media/overworld/Pallavium.png" hight="30px" width="30px"/>Pallavium<br>
        <img src="/media/overworld/Selenvium.png" hight="30px" width="30px"/>Selenvium<br>
        <img src="/media/overworld/RareWaterGem.png" hight="30px" width="30px"/>RareWaterGem<br>
        <img src="/media/overworld/ResplendentNatureGem.png" hight="30px" width="30px"/>ResplendentNatureGem<br>
        <img src="/media/overworld/UncommonShard.png" hight="30px" width="30px"/>UncommonShard<br>

    </div>
</div>

<h3>SynthesisDeposit</h3>
<img src="/media/overworld/SynthesisDeposit.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div style="width: 200px;">
        <h5>T1：</h5>
        <img src="/media/overworld/CommonEarthGem.png" hight="30px" width="30px"/>CommonEarthGem<br>
        <img src="/media/overworld/UncommonAirGem.png" hight="30px" width="30px"/>UncommonAirGem<br>
        <img src="/media/overworld/UncommonNatureGem.png" hight="30px" width="30px"/>UncommonNatureGem<br>
        <img src="/media/overworld/Pallavium.png" hight="30px" width="30px"/>Pallavium<br>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
        <img src="/media/overworld/Lithvium.png" hight="30px" width="30px"/>Lithvium<br>
        <img src="/media/overworld/Chrovium.png" hight="30px" width="30px"/>Chrovium<br>
        <img src="/media/overworld/Rubivium.png" hight="30px" width="30px"/>Rubivium<br>
        <img src="/media/overworld/Tellvium.png" hight="30px" width="30px"/>Tellvium<br>
    </div>
    <div style="width: 200px;">
        <h5>T2：</h5>
        <img src="/media/overworld/RareShard.png" hight="30px" width="30px"/>RareShard<br>
        <img src="/media/overworld/Tellvium.png" hight="30px" width="30px"/>Tellvium<br>
        <img src="/media/overworld/Lithvium.png" hight="30px" width="30px"/>Lithvium<br>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
        <img src="/media/overworld/Irivium.png" hight="30px" width="30px"/>Irivium<br>
        <img src="/media/overworld/Chrovium.png" hight="30px" width="30px"/>Chrovium<br>
        <img src="/media/overworld/Vanavium.png" hight="30px" width="30px"/>Vanavium<br>
    </div>
    <div style="width: 200px;">
        <h5>T3：</h5>
        <img src="/media/overworld/Gallvium.png" hight="30px" width="30px"/>Gallvium<br>
        <img src="/media/overworld/Tellvium.png" hight="30px" width="30px"/>Tellvium<br>
        <img src="/media/overworld/Rubivium.png" hight="30px" width="30px"/>Rubivium<br>
        <img src="/media/overworld/Irivium.png" hight="30px" width="30px"/>Irivium<br>
        <img src="/media/overworld/Selenvium.png" hight="30px" width="30px"/>Selenvium<br>
        <img src="/media/overworld/UncommonAirGem.png" hight="30px" width="30px"/>UncommonAirGem<br>
        <img src="/media/overworld/EpicShard.png" hight="30px" width="30px"/>EpicShard<br>
    </div>
</div>


<br>
<h3>植物１（名称不明）</h3>
<img src="/media/overworld/Plants0001.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div style="width: 200px;">
        <h5>T0：</h5>
        <img src="/media/overworld/BasketFruit.png" hight="30px" width="30px"/>BasketFruit<br>
    </div>
    <div>
        <h5>T1：</h5>
        <img src="/media/overworld/CommonBasketFruit.png" hight="30px" width="30px"/>CommonBasketFruit<br>
    </div>
    <div>
        <h5>T1：</h5>
        <img src="/media/overworld/UncommonBasketFruit.png" hight="30px" width="30px"/>UncommonBasketFruit<br>
    </div>
</div>

<br>
<h3>植物２（名称不明）</h3>
<img src="/media/overworld/Plants0002.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div style="width: 200px;">
        <h5>T0：</h5>
        <img src="/media/overworld/RingNut.png" hight="30px" width="30px"/>RingNut<br>
        <img src="/media/overworld/BolsteringEssence.png" hight="30px" width="30px"/>BolsteringEssence<br>
    </div>
    <div>
        <h5>T1：</h5>
        <img src="/media/overworld/CommonRingNut.png" hight="30px" width="30px"/>CommonRingNut<br>
        <img src="/media/overworld/GrowthEssence.png" hight="30px" width="30px"/>GrowthEssence<br>
    </div>
    <div>
        <h5>T2：</h5>
        <img src="/media/overworld/UncommonRingNut.png" hight="30px" width="30px"/>UncommonRingNut<br>
    </div>
</div>
<br>
<h3>植物３（名称不明）</h3>
<img src="/media/overworld/Plants0003.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div>
        <h5>T0：</h5>
        <img src="/media/overworld/PopSpores.png" hight="30px" width="30px"/>PopSpores<br>
    </div>
    <div>
        <h5>T1：</h5>
        <img src="/media/overworld/UncommonPopSpores.png" hight="30px" width="30px"/>UncommonPopSpores<br>
    </div>
    <div>
        <h5>T2：</h5>
        <img src="/media/overworld/UncommonPopSpores.png" hight="30px" width="30px"/>UncommonPopSpores<br>
    </div>
</div>
<br>
<h3>植物４（名称不明）</h3>
<img src="/media/overworld/Plants0004.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div>
        <h5>T0：</h5>
        <img src="/media/overworld/SpikeJuice.png" hight="30px" width="30px"/>SpikeJuice<br>
    </div>
    <div>
        <h5>T1：</h5>
        <img src="/media/overworld/CommonSpikeJuice.png" hight="30px" width="30px"/>CommonSpikeJuice<br>
        <img src="/media/overworld/UncommonSpikeJuice.png" hight="30px" width="30px"/>UncommonSpikeJuice<br>
        <img src="/media/overworld/VitalityEssense.png" hight="30px" width="30px"/>VitalityEssense<br>
    </div>
</div>
<br>
<h3>植物５（名称不明）</h3>
<img src="/media/overworld/Plants0005.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div>
        <h5>T0：</h5>
        <img src="/media/overworld/GumboBody.png" hight="30px" width="30px"/>GumboBody<br>
    </div>
    <div>
        <h5>T1：</h5>
        <img src="/media/overworld/CommonGumboBody.png" hight="30px" width="30px"/>CommonGumboBody<br>
    </div>
    <div>
        <h5>T2：</h5>
        <img src="/media/overworld/RareGumboBody.png" hight="30px" width="30px"/>RareGumboBody<br>
    </div>
    <div>
        <h5>T3：</h5>
        <img src="/media/overworld/RareGumboBody.png" hight="30px" width="30px"/>RareGumboBody<br>
        <img src="/media/overworld/WrathEssense.png" hight="30px" width="30px"/>WrathEssense<br>
    </div>
</div>
<br>
<h3>植物６（名称不明）</h3>
<img src="/media/overworld/Plants0006.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div>
        <h5>T0：</h5>
        <img src="/media/overworld/Floraball.png" hight="30px" width="30px"/>Floraball<br>
    </div>
    <div>
        <h5>T1：</h5>
        <img src="/media/overworld/CommonFloraball.png" hight="30px" width="30px"/>CommonFloraball<br>
    </div>
    <div>
        <h5>T2：</h5>
        <img src="/media/overworld/UncommonFloraball.png" hight="30px" width="30px"/>UncommonFloraball<br>
    </div>
</div>
<br>
<h3>植物７（名称不明）</h3>
<img src="/media/overworld/Plants0007.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div>
        <h5>T0：</h5>
        <img src="/media/overworld/DragonEgg.png" hight="30px" width="30px"/>DragonEgg<br>
    </div>
</div>
<br>
<h3>植物８（名称不明）</h3>
<img src="/media/overworld/Plants0008.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div>
        <h5>T1：</h5>
        <img src="/media/overworld/RareFlintCap-Cap.png" hight="30px" width="30px"/>RareFlintCap-Cap<br>
    </div>
    <div>
        <h5>T3：</h5>
        <img src="/media/overworld/RareFlintCap-Cap.png" hight="30px" width="30px"/>RareFlintCap-Cap<br>
    </div>
</div>
<br>
<h3>植物９（名称不明）</h3>
<img src="/media/overworld/Plants0009.png" hight="100px" width="100px"/>
<br>
<h4>採掘可能資源：</h4>
<div class="flex">
    <div>
        <h5>T0：</h5>
        <img src="/media/overworld/JellyfruitTendrils.png" hight="30px" width="30px"/>JellyfruitTendrils<br>
    </div>
</div>
{% endblock %}