<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <style>
    .flex{
    display: flex;
    }
    .center{
      width:80%;
      margin: 0 auto;
    }
  </style>
</head>
<body>
    <div class="flex">
    <div class="left">
      Illuvium Info<br>
      Auguments<br>
    </div>

    <div class="center">
      PerpetualEntropy<br>
      <img src="/media/PerpetualEntropy1.png" hight="100px" width="100px"/>
      <img src="/media/PerpetualEntropy2.png" hight="100px" width="100px"/>
      <img src="/media/PerpetualEntropy3.png" hight="100px" width="100px"/>
      <br>
      説明：<br>
      ステージ１：３エナジーのリジェネを得る。<br>
      ステージ２：ステージ１＋サイレンスにならない。<br>
      ステージ３：ステージ２＋最初のオメガ発動時、オメガのエナジーコストの３０％を得る。<br>
      使い方：<br>
      アタッカーやヒーラー問わず、オメガが強く、長く生き残るキャラに付けたい。<br>
      相性の良いイルビアル：<br>
      ・アドリウス系<br>
      ・デュアルフ系<br>
      ・クッカラス系<br>
      <br>
      SharpStart<br>
      <img src="/media/SharpStart1.png" hight="100px" width="100px"/>
      <img src="/media/SharpStart2.png" hight="100px" width="100px"/>
      <img src="/media/SharpStart3.png" hight="100px" width="100px"/>
      <br>
      説明：<br>
      ステージ１：物理防御とエナジー防御の４０％を貫通する。<br>
      ステージ２：ステージ１＋３回の攻撃に一度Clumsyを３秒間付与する。<br>
      ステージ３：ステージ２＋物理防御とエナジー防御を５％減らす。<br>
      Clumsy・・・攻撃が回避できない状態異常<br>
      使い方：
      アタッカーかつ、攻撃速度が早いイルビアルに付けたい。<br>
      相性の良いイルビアル：<br>
      ・スコリオックス系<br>
      <br>
      PowersAscent<br>
      <img src="/media/PowersAscent1.png" hight="100px" width="100px"/>
      <img src="/media/PowersAscent2.png" hight="100px" width="100px"/>
      <img src="/media/PowersAscent3.png" hight="100px" width="100px"/>
      <br>
      説明：<br>
      ステージ１：１秒間に２ずつオメガパワーを得る。<br>
      ステージ２：ステージ１＋オメガ発動時、エナジーコストの２０％のオメガパワーを得る。<br>
      ステージ３：ステージ２＋（自身の状態異常を回復する）<br>
      ※ステージ３の（）内は曖昧。英文はon Omega Cleanses itself<br>
      使い方：<br>
      オメガダメージが高いイルビアルに付けたい。<br>
      オメガ発動時のオメガパワー上昇効果を得るため、PerpetualEntropyやSaccarineEscapeなどと一緒につけてオメガ回転率を高めたい。<br>
      相性の良いイルビアル：<br>
      ・ランファイア系<br>
      ・デュアルフ系<br>
      ・シーフォラス系<br>
      <br>
      SharpStart<br>
      <img src="/media/SharpStart1.png" hight="100px" width="100px"/>
      <img src="/media/SharpStart2.png" hight="100px" width="100px"/>
      <img src="/media/SharpStart3.png" hight="100px" width="100px"/>
      <br>
      説明：<br>
      ステージ１：物理防御とエナジー防御の４０％を貫通する。<br>
      ステージ２：ステージ１＋３回の攻撃に一度Clumsyを３秒間付与する。<br>
      ステージ３：ステージ２＋物理防御とエナジー防御を５％減らす。<br>
      Clumsy・・・攻撃が回避できない状態異常<br>
      使い方：
      アタッカーかつ、攻撃速度が早いイルビアルに付けたい。<br>
      相性の良いイルビアル：<br>
      ・スコリオックス系<br>
      <br>
      JaggedEnd<br>
      <img src="/media/JaggedEnd1.png" hight="100px" width="100px"/>
      <img src="/media/JaggedEnd2.png" hight="100px" width="100px"/>
      <img src="/media/JaggedEnd3.png" hight="100px" width="100px"/>
      <br>
      説明：<br>
      ステージ１：クリティカル発生時、自身と１番近い味方２匹はクリティカルダメージが５％増加する。（２５回まで増加可能、１秒間のクールタイム有り）<br>
      ステージ２：ステージ１＋クリティカル発生時、相手の回復量を１５秒間５０％減少させる。<br>
      ステージ３：ステージ２＋クリティカル発生時、相手の物理防御とエナジー防御を５減少させる。<br>
      使い方：<br>
      アタッカーかつ、攻撃速度が早いイルビアルに付けたい。<br>
      FinalAboundingを付けたイルビアルに持たせる。または近くにいると、オメガのクリティカルの倍率も上がるため、よりオメガが強力になる。<br>
      敵にthornを持つ敵がいた場合、JaggedEndでクリティカルの倍率を高めてから攻撃すると攻撃回数が減り、結果受けるダメージを軽減できる。<br>
      相性の良いイルビアル：<br>
      ・スコリオックス系<br>
      ・（ランファイア系）<br>
      ・（デュアルフ系）<br>
      <br>
      FinalAbounding<br>
      <img src="/media/FinalAbounding1.png" hight="100px" width="100px"/>
      <img src="/media/FinalAbounding2.png" hight="100px" width="100px"/>
      <img src="/media/FinalAbounding3.png" hight="100px" width="100px"/>
      <br>
      説明：<br>
      ステージ１：自分のオメガがクリティカルが発生するようになり、クリティカルチャンスが１０％上昇する。<br>
      ステージ２：ステージ１＋クリティカル発生時、敵をBurn状態にする。<br>
      ステージ３：ステージ２＋クリティカル発生時、クリティカルのダメージ減少効果を無視する。<br>
      ※ Burn状態・・・１秒間に２％のエナジーダメージを受ける。この状態は８秒間続き、５回までスタックされる。
      ※ クリティカルのダメージ減少効果が何を指しているのか不明。単純に防御を無視するのかもしれない。未検証。
      使い方：<br>
      オメガの攻撃力が高いイルビアルに付けたい。<br>
      特にランファイアのオメガをクリティカルにすることによって、大ダメージが見込めるので優先的に持たせたい。<br>
      ランファイアはphantomのシナジーを発動することによってもオメガをクリティカルにできるため、どちらかでクリティカルが発生するようにしたい。<br>
      相性の良いイルビアル：<br>
      ・ランファイア系<br>
      ・デュアルフ系<br>
      ・シーフォラス系<br>
      <br>
      VengefulSmite<br>
      <img src="/media/VengefulSmite1.png" hight="100px" width="100px"/>
      <img src="/media/VengefulSmite2.png" hight="100px" width="100px"/>
      <img src="/media/VengefulSmite3.png" hight="100px" width="100px"/>
      <br>
      説明：<br>
      ステージ１：５回の攻撃に１度敵をPoisn状態にし、４％のピュアダメージを与える。（２秒間のクールタイム有り）<br>
      ステージ２：ステージ１＋５回の攻撃に１度敵をWound状態にする。<br>
      ステージ３：ステージ２＋５回の攻撃に１度敵をFrost状態にする。<br>
      ※ Poisn状態・・・１％のピュアダメージを毎秒受ける。この状態は５秒間続き、５回までスタックされる。
      ※ Wound状態・・・受けた攻撃またはオメガの１．２５％の物理ダメージを毎秒受ける。この状態は８秒間続き、５回までスタックされる。
      ※ Frost状態・・・攻撃速度が３％減少する。この状態は１０秒間続き、９回までスタックされる。
      使い方：<br>
      攻撃速度が高いイルビアルに付けたい。<br>
      相性の良いイルビアル：<br>
      ・スコリオックス系<br>
      ・ブレイズナイト系<br>
      <br>
      InevitableRuin<br>
      <img src="/media/InevitableRuin2.png" hight="100px" width="100px"/>
      <img src="/media/InevitableRuin2.png" hight="100px" width="100px"/>
      <img src="/media/InevitableRuin3.png" hight="100px" width="100px"/>
      <br>
      説明：<br>
      ステージ１：３５hex以内の敵は物理防御（減算）と物理防御（乗算）が５０％になる。<br>
      ステージ２：ステージ１＋３５hex以内の敵の回復量が５０％になる。<br>
      ステージ３：ステージ２＋３５hex以内の敵が受けるダメージが２５％上昇する。<br>
      使い方：<br>
      攻撃オーグメントだが、遠距離アタッカーだとそもそも３５hex以内に敵がいないので、タイタナーやシング等のタンクが装備することが多い。<br>
      近距離アタッカーに持たす手もあるが、タンクに持たせるほうが安定すると思われる。<br>
      相性の良いイルビアル：<br>
      ・タイタナー系<br>
      ・シアー系<br>
    </div>
    <div class="left">
      <img src="/media/momonga.png" hight="100px" width="100px"/><br>
      会員制コミュニティはコチラ<br>
      [ここに有料サイトのURLを貼る]

    </div>
    </div>
</body>
</html>

