  body{
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  }
  .flex{
  display: flex;
  }
  .center{
    width:60%;
    margin: 
    0 auto;
  }
  .navigation_title{
    color:#566270;
  }
  .navigation_article{
    padding-left:20px;
  }
  h3,h4,h5{
    margin: 0;
  }
  h3 {
    /* padding: 0rem 1rem;
    border-left: 4px solid #000; */

    padding: 0rem 1rem;
    background: rgba(165, 210, 255, .4);

    /* padding: 1.65rem 2rem;
    background-color: rgba(165, 210, 255, .4);
    background-image:
    linear-gradient(90deg, rgba(165, 210, 255, .3) 50%, transparent 50%),
    linear-gradient(rgba(165, 210, 255, .3) 50%, transparent 50%);
    background-size:  0px 40px; */
  }

  .hitowa {
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
    padding: 0.5rem 1rem;
    color: #fff;
    background: #000;
  }
  .hitowa2 {
    background-image: -webkit-linear-gradient(315deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
    background-image: linear-gradient(135deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }