  body{
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  }
  .flex{
  display: flex;
  }
  .center{
    width:60%;
    margin: 
    0 auto;
  }
  .navigation_title{
    color:#566270;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navigation_article{
    padding-left:20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2 {
    /* border-radius: 10px; */
    background-color: #8b8b8b;
    color: #f5f5f5;
  }

  h3,h4,h5{
    margin: 0;
  }
  h3 {
    /* padding: 0rem 1rem;
    border-left: 4px solid #000; */

    /* 下線 */
    /* border-bottom: 3px solid #000; */

    /* 背景と左線 */
    padding: 1rem 2rem;
    border-left: 1px solid #000;
    background: #f5f5f5;
    
    /* padding: 0rem 1rem;
    background: rgba(165, 210, 255, .4); */

    /* padding: 1.65rem 2rem;
    background-color: rgba(165, 210, 255, .4);
    background-image:
    linear-gradient(90deg, rgba(165, 210, 255, .3) 50%, transparent 50%),
    linear-gradient(rgba(165, 210, 255, .3) 50%, transparent 50%);
    background-size:  0px 40px; */
  }

  .maintitle{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    background: #f5f5f5;
    box-sizing: border-box;
  }

  /* .maintitle:before, .maintitle:after{ */
    /* content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: black; */
  /* } */

  /* .maintitle:before {
    left:0;
  }
  .maintitle:after {
    right: 0;
  } */

  a {
    text-decoration: none black;
    color: black;
  }

  .link {
    text-decoration: dashed;
    color: blue;
  }

  .left {
    background: #f5f5f5;
    margin-right: 20px;
  }

  /* .center {
    background: #eee;
    margin-right: 10px;
  } */

  .right {
    background: #f5f5f5;
    margin-left: 20px;
  }





